.about {
    background-image: url("/images/Wave Line.png");
    background-size: cover;
}

.content {
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    margin: .625rem auto 0;
    line-height: 1.6;
}

.content span {
    color: var(--header-color);
}

@media (max-width: 992px) {
    .content {
        width: 85%;
        font-size: 1.6rem;
    }
}