.contactUs {
    width: 90%;
    margin: 6rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactUs header {
    font-size: 2.3rem;
    height: 100%;
}

.contactUs .contactForm form {
    padding: 1.25rem;
    text-align: center;
}

.contactUs .contactForm form input,
.contactUs .contactForm form textarea {
    background-color: var(--card-color);
    border: none;
    border-radius: .35rem;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    color: var(--font-color);
    font-size: 1.1rem;
    min-height: 3rem;
}

.contactUs .contactForm form textarea {
    resize: none;
    height: 18.75rem;
}

.contactUs .contactForm form input:focus-visible,
.contactUs .contactForm form textarea:focus-visible {
    outline: none;
    outline: .07rem solid var(--hover-color);
}

@media (min-width: 350px) and (max-width: 992px)  {
    .contactUs {
        grid-template-columns: repeat(1, 1fr);
    }

    .contactUs header {
        font-size: 1.8rem;
        text-align: center;
    }
}