.hero {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.hero .header {
    width: 50%;
    text-align: right;
}

html[dir = "ltr"] .hero .header {
    text-align: left;
}

.header h3 {
    font-size: 1.8rem;
}

.header h1 {
    color: var(--white-color);
    font-size: 4rem;
    font-family: Tajawal-bold;
}

.header h2 {
    font-size: 2.2rem;
}

.img {
    width: 50%;
}

.img img {
    width: 90%;
    height: 90%;
    margin-right: auto;
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero .header,
    html[dir="ltr"] .hero .header {
        width: 100%;
        text-align: center;
    }

    .img {
        width: 80%;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .img img {
        width: 100%;
    }
}