.projects {
    padding: 3rem 0;
}

.projectsContainer {
    width: 90%;
    margin: 2rem auto;
}

.project {
    background-color: var(--card-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin: 1.5rem auto;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.project .content {
    width: 50%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project h1 {
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 0 0 .625rem;
    margin: 0 0 .625rem;
    border-bottom: .35rem solid var(--header-color);
}

.project p {
    margin: 1rem 0 2rem;
}

.project .content .skils {
    width: 100%;
    margin: 1rem 0;
}

.project .content .skils .skil {
    width: auto;
    height: 3.125rem;
    display: inline-block;
    margin: 0 .625rem;
    filter: grayscale(1);
}

.project .content .skils .skil:hover {
    filter: grayscale(0);
}

.project .btnContainer {
    text-align: right;
}

html[dir = "ltr"] .project .btnContainer {
    text-align: left;
}

.project .btnGithub {
    background-color: var(--background-color);
    color: var(--font-color);
    background-image: none;
}

.project .btnGithub:hover {
    background-color: var(--hover-color);
    color: var(--white-color);
    transform: .2s;
}

.project .img {
    width: 50%;
}

@media (min-width: 1920px) {
    .project h1 {
        font-size: 2.5rem;
    }

    .project p {
        font-size: 1.8rem
    }

    .project .content .skils .skil {
        height: 4.5rem;
    }
}

@media (max-width: 1024px) {
    .project, .project:nth-child(even) {
        flex-direction: column-reverse;
    }

    .project .content {
        width: 100%;
        text-align: center;
        margin: 1.25rem auto .625rem;
    }

    .project .content .skils .skil {
        width: auto;
        margin: .625rem;
    }

    .project .btnContainer,
    html[dir="ltr"] .project .btnContainer {
        text-align: center;
    }

    .project .img {
        width: 100%;
    }
}