.projects {
    min-height: 100vh;
}

.header {
    color: var(--header-color);
    font-size: 2rem;
    text-align: center;
}

.projectsContainer {
    width: 90%;
    margin: 30px auto;
}

.project {
    background-color: var(--card-color);
    display: flex;
    padding: 20px;
    margin: 20px auto;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.project .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.project h1 {
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 3px solid var(--header-color);
}

.project p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
}

.project .content .skils {
    width: 100%;
}

.project .content .skils .skil {
    width: max-content;
    height: 50px;
    display: inline-block;
    margin: 0 10px;
    filter: grayscale(1);
}

.project .content .skils .skil:hover {
    filter: grayscale(0);
}

.project .btnContainer {
    text-align: right;
}

.project .btnGithub {
    background-color: var(--background-color);
    color: var(--font-color);
    background-image: none;
}

.project .btnGithub:hover {
    background-color: var(--hover-color);
    color: var(--white-color);
    transform: .2s;
}

.project .img {
    width: 50%;
}

.project .img img {
    width: 100%;
}

@media (min-width: 350px) and (max-width: 992px) {
    .project, .project:nth-child(even) {
        flex-direction: column-reverse;
    }

    .project .content {
        width: 100%;
        text-align: center;
        margin: 20px auto 10px;
    }

    .project .btnContainer {
        text-align: center;
    }

    .project .img {
        width: 100%;
    }
}