.footer {
    padding: 20px;
    background-image: linear-gradient(-45deg, var(--header-color), var(--hover-color));
    color: var(--background-color);
    text-align: center;
}

.logo {
    font-size: 2.2rem;
    font-family: Tajawal-bold;
}

.icons {
    margin: 1.25rem auto;
}

.icons a {
    color: var(--background-color);
    font-size: 2.5rem;
    margin: 0 .625rem;
}

.icons a:hover {
    color: var(--card-color);
}