.navbar {
    padding: 1.25rem 5%;
    border-bottom: 0.07rem solid var(--card-color);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.logo {
    color: var(--header-color);
    font-weight: 700;
}

.navbarList .listBar {
    display: none;
}

.navbarList .list {
    list-style: none;
    display: flex;
}

.navbarList .list .logo {
    display: none;
}

.navbarList .list li a {
    color: var(--white-color);
    display: block;
    text-decoration: none;
    margin: 0 .625rem;
    cursor: pointer;
    font-family: Tajawal;
}

.navbarList .list li a:hover {
    color: var(--hover-color);
    transform: translateY(-0.2rem);
    transition: .2s;
}

.navbarList .list .icons {
    display: none;
}

.icons {
    color: var(--header-color);
    font-size: 1.5rem;
    display: flex;
}

.icons svg {
    display: block;
    margin: 0 .35rem;
    cursor: pointer;
}

.icons svg:hover {
    color: var(--hover-color);
}

@media (max-width: 768px) {
    .navbar {
        height: fit-content;
    }

    .navbarList .listBar {
        display: block;
    }

    .icons {
        display: none;
    }
    
    .navbarList .list {
        display: none;
    }

    .navbarList .list .icons {
        display: block;
    }

    .navbarList:hover .list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 100vh;
        font-size: 2rem;
        position: absolute;
        top: 0;
        padding: 1.25rem;
        background-color: var(--card-color);
        text-align: center;
        border-radius: .3125rem;
    }

    html[dir = 'rtl'] .navbarList:hover .list {
        left: 0;
    }

    html[dir = 'ltr'] .navbarList:hover .list {
        right: 0;
    }

    .navbarList .list .logo {
        display: block;
    }

    .navbarList .list li a {
        margin: 0.93rem auto;
    }

    .navbarList .list .icons {
        display: flex;
        justify-content: center;
        margin: 1.25rem auto;
        font-size: 3rem;
    }

    .icons svg {
        margin: 0 2rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar {
        height: fit-content;
    }
}