.navbar {
    padding: 20px 5%;
    border-bottom: 1px solid var(--card-color);
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logo {
    color: var(--header-color);
    font-weight: 700;
}

.navbarList .listBar {
    display: none;
}

.navbarList .list {
    list-style: none;
    display: flex;
}

.navbarList .list li a {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

.navbarList .list li a:hover {
    color: var(--hover-color);
    transform: translateY(-3px);
    transition: .2s;
}

.navbarList .list .icons {
    display: none;
}

.icons {
    color: var(--header-color);
    font-size: 1.5rem;
    display: flex;
}

.icons svg {
    display: block;
    margin: 0 5px;
    cursor: pointer;
}

.icons svg:hover {
    color: var(--hover-color);
}

@media (min-width: 350px) and (max-width: 767px) {
    .navbar {
        height: fit-content;
    }

    .navbarList .listBar {
        display: block;
    }

    .icons {
        display: none;
    }

    .navbarList {
        position: relative;
    }
    
    .navbarList .list {
        display: none;
    }

    .navbarList .list .icons {
        display: block;
    }

    .navbarList:hover .list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background-color: var(--card-color);
        text-align: center;
        width: 200px;
        border-radius: 5px;
    }

    .navbarList .list li a {
        margin: 15px auto;
    }

    .navbarList .list .icons {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar {
        height: fit-content;
    }
}