.about {
    height: 100vh;
    background-image: url("/images/Wave Line.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
    color: var(--header-color);
    font-size: 2rem;
}

.content {
    font-size: 1.3rem;
    text-align: center;
    width: 70%;
    margin: 10px auto 0;
    line-height: 1.5;
}

.content span {
    color: var(--header-color);
}