.skils {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: var(--header-color);
    font-size: 2rem;
    text-align: center;
}

.SkilsContainer {
    width: 90%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 30px;
}

.SkilsContainer img {
    display: block;
    width: 50%;
    margin: auto;
    filter: grayscale(1);
}

.SkilsContainer img:hover {
    filter: grayscale(0);
}

@media (min-width: 350px) and (max-width: 767px) {
    .SkilsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .SkilsContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}