* {
  margin: 0;
  padding: 0;
  font-family: Tajawal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --background-color: #1D1D23;
  --card-color: #282833;
  --header-color: #01A7C2;
  --hover-color: #007090;
  --font-color: #A2A1A6;
  --white-color: #EAEBED;
}

::-moz-selection { /* Code for Firefox */
  color: var(--white-color);
  background: var(--header-color);
}

::selection {
  color: var(--white-color);
  background: var(--header-color);
}

@font-face {
  font-family: Tajawal;
  src: url(./fonts/Tajawal/Tajawal-Regular.ttf);
}

@font-face {
  font-family: Tajawal-bold;
  src: url(./fonts/Tajawal/Tajawal-Medium.ttf)
}

html[data-theme = 'dark'] {
  --background-color: #1D1D23;
  --card-color: #282833;
  --header-color: #01A7C2;
  --hover-color: #007090;
  --font-color: #A2A1A6;
  --white-color: #EAEBED;
}

html[data-theme = 'light'] {
  --background-color: #EAEBED;
  --card-color: #DFE0E1;
  --header-color: #007090;
  --hover-color: #01A7C2;
  --font-color: #282833;
  --white-color: #1D1D23;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  font-family: Tajawal-bold;
  font-size: 500;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: Tajawal-bold;
  font-size: 500;
}

img {
  width: 100%;
}

.page {
  min-height: 100vh;
}

.page > header {
  color: var(--header-color);
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .page {
    min-height: 60vh;
    padding: 3rem 0;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-container {
  text-align: center;
}

.btn {
  background-image: linear-gradient(45deg, var(--hover-color), var(--header-color));
  border: none;
  border-radius: 0.315rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 2.5rem .625rem 0;
  background-color: var(--hover-color);
  display: inline-block;
  color: #EAEBED;
  font-size: 1.2rem;
  min-width: 12rem;
  text-align: center;
}

.btn svg {
  margin: 0 .35rem;
}

.btn:hover {
  background-image: none;
  transition: .2s;
}

@media (max-width: 1024px) {
  .btn {
    width: 80%;
  }
}